.movie-app {
    font-family: sans-serif;
  }

.movie-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

/** movie item **/
.movie-item {
  font-family: monospace;
  cursor: pointer;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.movie-vote {
  display: inline-flex;
  margin-bottom: -15px;
}

.movie-vote-star {
  padding-left: 10px;
}

.movie-vote-star-item {
  color: red;
}

.movie-production {
  display: inline-flex;
  font-style: italic;
  padding-top: 10px;
}

.movie-production .produced {
  padding-right: 5px;
}

.movie-synopsis {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.card:hover {
  box-shadow: 0rem 0rem 4rem rgba(11, 3, 88, 0.664);
  transform: scale(1.05);
}